assets/jade_view/main.jade
include mixins/mixins.jade
doctype html
html
	include partials/head
	body
		noscript.no_script_message.
			We're sorry but our site <strong>requires</strong> JavaScript.
		.wrapper
			include layout/header
			main(role="main")
				section.main-slider
					#main-slider
						.view-catalog
							a(href="#").w-btn
								span.help Дивитися каталог
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
						.item
							.mask-wrap
								img(src="icons/hexagon1.svg" alt="")
								.img
									img(src="images/main-slider-item.jpg" alt="main-slider-item.jpg")
					#main-slider-nav
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img.png" alt="")
							.description
								h2.title
									a(href="#") Старе місто
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img2.png" alt="")
							.description
								h2.title
									a(href="#") Фасадний камінь «Рустік»
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
						.item
							.extra-img
								.price
									span.help 57.00 <span class="currency">грн/м2</span>
								img(src="images/main-slider-extra_img.png" alt="")
							.description
								h2.title
									a(href="#") Старе місто
								p.
									Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.

				section.gradient-block
					.inner-container
						.service-list
							.service-item
								.icon-vector-1
								.title Власне виробництво
								.info
									p Власне виробництво за сучасними <br/>європейськими технологіями на <br/>високотехнологічному обладнанні
							.service-item
								.icon-vector-2
								.title Монтаж та укладання
								.info
									p Якісний, професійний монтаж та укладка. <br/>Виконання робіт з благоустрою, влаштування <br/>дорожнього покриття.
				section.trust-us-section
					.inner-container
						.left-block
							.h2 Довірте свої клопоти професіоналам
							p Ми працюємо на результат, а він очевидний. Наша продукція користується неабиякою популярністю. Як показує практика, бруківка має прекрасні експлуатаційні характеристики та довгий термін служби.
							p Якісна бруківка, професійне вкладання, оптимальні ціни. Це те, що пропонуємо вам ми. Компанія «Бетон Брук Серсіс» — команда тих, хто дбає про ваш комфорт. Ретельно дбаємо, щоб кожен замовник був задоволений співпрацею з нами.
							p Ми звикли працювати на результат та задля вашого майбутнього.
							.text-left
								a(href="#").w-btn.gray-btn
									span.help З нами легко зв’язатися
						.collage
							.hex1
								img(src="icons/hex2.svg" alt="")
								.caption
									.help
										.count 13
										.c-hint років на ринку
							.hex2
								img(src="icons/hex3.svg" alt="")
								.caption
									.help
										.count 265
										.c-hint успішних проектів
							.hex3
								img(src="icons/hex.svg" alt="")
								.caption
									.help
										.count 2658 м<span class="sup">2</span>
										.c-hint викладено площі
				section.last-projects
					.inner-container
						.h2
							.a Останні виконані проекти
					.page-container
						ul.gallery#blur-gallery
							li
								a(href='#')#some-element-1
									img(src='images/works/img-1.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-2
									img(src='images/works/img-2.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-3
									img(src='images/works/img-3.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-4
									img(src='images/works/img-4.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-5
									img(src='images/works/img-5.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-6
									img(src='images/works/img-6.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-7
									img(src='images/works/img-7.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-8
									img(src='images/works/img-8.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
							li
								a(href='#')#some-element-9
									img(src='images/works/img-9.jpg')
									.hover-info
										span.place Кузнецовськ
										span.work Укладання бруківки в м. Кузнецовськ (об’єкт № 9)
				section.clients-slider
					.inner-container
						h2.title
							.a Наші клієнти
					.container
						#clientsCarousel
							each val in ['img-1.jpg', 'img-2.jpg', 'img-3.jpg', 'img-4.jpg', 'img-1.jpg']
								.item
									img(src="images/clients/"+val)
				section.full-width-banner
					img(src="./images/index-promo.jpg" alt="")
					.caption
						.help Бруківка <br/>по ціні виробника
		include layout/footer
		include partials/js

assets/build/main.html
<!DOCTYPE html>
<html>
  <head manifest="default.appcache" lang="ru-RU">
    <title>LeBruk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="mail@yandex.ru">
    <!--link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css')-->
    <!--link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,900,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/lebruk.min.css">
    <!--[if gte IE 9]>-->
    <!--script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")-->
    <!--script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")-->
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="application-name" content="Title">
    <meta name="msapplication-tooltip" content="Description">
    <meta name="msapplication-window" content="width=400;height=300">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
  </head>
  <body>
    <noscript class="no_script_message">We're sorry but our site <strong>requires</strong> JavaScript.</noscript>
    <div class="wrapper">
      <header>
        <nav class="container"><a href="#" class="logo"><img src="icons/logo.svg" alt="LeBruk Logo"></a>
          <ul class="menu">
            <li class="active"><a href="#"><span class="help">Продукція</span></a></li>
            <li><a href="#"><span class="help">Новини</span></a></li>
            <li><a href="#"><span class="help">Послуги</span></a></li>
            <li><a href="#"><span class="help">Про компанію</span></a></li>
            <li><a href="#"><span class="help">Контакти</span></a></li>
          </ul>
          <ul class="languages">
            <li class="active"><a href="#"><span class="help">укр</span></a></li>
            <li><a href="#"><span class="help">рус</span></a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <section class="main-slider">
          <div id="main-slider">
            <div class="view-catalog"><a href="#" class="w-btn"><span class="help">Дивитися каталог</span></a></div>
            <div class="item">
              <div class="mask-wrap"><img src="icons/hexagon1.svg" alt="">
                <div class="img"><img src="images/main-slider-item.jpg" alt="main-slider-item.jpg"></div>
              </div>
            </div>
            <div class="item">
              <div class="mask-wrap"><img src="icons/hexagon1.svg" alt="">
                <div class="img"><img src="images/main-slider-item.jpg" alt="main-slider-item.jpg"></div>
              </div>
            </div>
            <div class="item">
              <div class="mask-wrap"><img src="icons/hexagon1.svg" alt="">
                <div class="img"><img src="images/main-slider-item.jpg" alt="main-slider-item.jpg"></div>
              </div>
            </div>
          </div>
          <div id="main-slider-nav">
            <div class="item">
              <div class="extra-img">
                <div class="price"><span class="help">57.00 <span class="currency">грн/м2</span></span></div><img src="images/main-slider-extra_img.png" alt="">
              </div>
              <div class="description">
                <h2 class="title"><a href="#">Старе місто</a></h2>
                <p>Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.</p>
              </div>
            </div>
            <div class="item">
              <div class="extra-img">
                <div class="price"><span class="help">57.00 <span class="currency">грн/м2</span></span></div><img src="images/main-slider-extra_img2.png" alt="">
              </div>
              <div class="description">
                <h2 class="title"><a href="#">Фасадний камінь «Рустік»</a></h2>
                <p>Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.</p>
              </div>
            </div>
            <div class="item">
              <div class="extra-img">
                <div class="price"><span class="help">57.00 <span class="currency">грн/м2</span></span></div><img src="images/main-slider-extra_img.png" alt="">
              </div>
              <div class="description">
                <h2 class="title"><a href="#">Старе місто</a></h2>
                <p>
                  Перетворіть свій двір у затишний куточок старого міста. Відчуйте подих часу, крокуючи бруківкою, що увібрала в себе легку ходу вишуканих панночок, стук коліс екіпажів, метушню ярмаркової площі, аромат легенд величних замків. Різнобарвні округлі камені запрошують відкрити їх таємниці.
                  
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="gradient-block">
          <div class="inner-container">
            <div class="service-list">
              <div class="service-item">
                <div class="icon-vector-1"></div>
                <div class="title">Власне виробництво</div>
                <div class="info">
                  <p>Власне виробництво за сучасними <br/>європейськими технологіями на <br/>високотехнологічному обладнанні</p>
                </div>
              </div>
              <div class="service-item">
                <div class="icon-vector-2"></div>
                <div class="title">Монтаж та укладання</div>
                <div class="info">
                  <p>Якісний, професійний монтаж та укладка. <br/>Виконання робіт з благоустрою, влаштування <br/>дорожнього покриття.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="trust-us-section">
          <div class="inner-container">
            <div class="left-block">
              <div class="h2">Довірте свої клопоти професіоналам</div>
              <p>Ми працюємо на результат, а він очевидний. Наша продукція користується неабиякою популярністю. Як показує практика, бруківка має прекрасні експлуатаційні характеристики та довгий термін служби.</p>
              <p>Якісна бруківка, професійне вкладання, оптимальні ціни. Це те, що пропонуємо вам ми. Компанія «Бетон Брук Серсіс» — команда тих, хто дбає про ваш комфорт. Ретельно дбаємо, щоб кожен замовник був задоволений співпрацею з нами.</p>
              <p>Ми звикли працювати на результат та задля вашого майбутнього.</p>
              <div class="text-left"><a href="#" class="w-btn gray-btn"><span class="help">З нами легко зв’язатися</span></a></div>
            </div>
            <div class="collage">
              <div class="hex1"><img src="icons/hex2.svg" alt="">
                <div class="caption">
                  <div class="help">
                    <div class="count">13</div>
                    <div class="c-hint">років на ринку</div>
                  </div>
                </div>
              </div>
              <div class="hex2"><img src="icons/hex3.svg" alt="">
                <div class="caption">
                  <div class="help">
                    <div class="count">265</div>
                    <div class="c-hint">успішних проектів</div>
                  </div>
                </div>
              </div>
              <div class="hex3"><img src="icons/hex.svg" alt="">
                <div class="caption">
                  <div class="help">
                    <div class="count">2658 м<span class="sup">2</span></div>
                    <div class="c-hint">викладено площі</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="last-projects">
          <div class="inner-container">
            <div class="h2">
              <div class="a">Останні виконані проекти</div>
            </div>
          </div>
          <div class="page-container">
            <ul id="blur-gallery" class="gallery">
              <li><a href="#" id="some-element-1"><img src="images/works/img-1.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-2"><img src="images/works/img-2.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-3"><img src="images/works/img-3.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-4"><img src="images/works/img-4.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-5"><img src="images/works/img-5.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-6"><img src="images/works/img-6.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-7"><img src="images/works/img-7.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-8"><img src="images/works/img-8.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#" id="some-element-9"><img src="images/works/img-9.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
            </ul>
          </div>
        </section>
        <section class="clients-slider">
          <div class="inner-container">
            <h2 class="title">
              <div class="a">Наші клієнти</div>
            </h2>
          </div>
          <div class="container">
            <div id="clientsCarousel">
              <div class="item"><img src="images/clients/img-1.jpg"></div>
              <div class="item"><img src="images/clients/img-2.jpg"></div>
              <div class="item"><img src="images/clients/img-3.jpg"></div>
              <div class="item"><img src="images/clients/img-4.jpg"></div>
              <div class="item"><img src="images/clients/img-1.jpg"></div>
            </div>
          </div>
        </section>
        <section class="full-width-banner"><img src="./images/index-promo.jpg" alt="">
          <div class="caption">
            <div class="help">Бруківка <br/>по ціні виробника</div>
          </div>
        </section>
      </main>
    </div>
    <footer>
      <div class="container">
        <div class="footer-wrap">
          <ul class="foot-nav">
            <li><a href="#">Продукція</a></li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Послуги</a></li>
            <li><a href="#">Про компанію</a></li>
            <li><a href="#">Контакти</a></li>
            <li><span class="copy">© 2016 LeBruk</span></li>
          </ul>
          <div class="foot-contact">
            <div class="with-socials">
              <div class="email"><span class="icon-close-envelope"></span><span class="text">bblutsk@ukr.net</span></div>
              <div class="tel"><span class="icon-phone-receiver"></span><span class="text">(0332) 28-04-80</span></div>
              <ul class="socials">
                <li><a href="#"><span class="icon-vk-logo"></span></a></li>
                <li><a href="#"><span class="icon-facebook-logo"></span></a></li>
                <li><a href="#"><span class="icon-twitter-logo"></span></a></li>
                <li><a href="#"><span class="icon-youtube-logo"></span></a></li>
              </ul>
            </div>
            <div class="address"><span class="icon-location-pin"></span><span class="text">м. Луцьк, вул. Індустріальна 10, 43020</span></div>
          </div>
          <div class="foot-logo"><a href="#"><img src="icons/logo.inverse.svg"></a></div>
          <div class="foot-love">
            <div class="mirro-studio">
              <div class="m-text">Сделано с любовью</div>
              <div class="hearts">
                <div class="heart1"></div>
                <div class="heart2"></div>
                <div class="heart3"></div>
                <div class="heart4"></div>
              </div><a href="http://mirrostudio.com"> MirroStudio</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/jquery-pixel-perfect.js"></script>
    <script type="text/javascript" src="js/lebruk.lib.min.js"></script>
    <script type="text/javascript" src="js/config.min.js"></script>
  </body>
</html>
