assets/build/news-articles.html
<!DOCTYPE html>
<html>
  <head manifest="default.appcache" lang="ru-RU">
    <title>LeBruk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="icons/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="mail@yandex.ru">
    <!--link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css')-->
    <!--link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,900,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="stylesheets/lebruk.min.css">
    <!--[if gte IE 9]>-->
    <!--script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")-->
    <!--script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")-->
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="application-name" content="Title">
    <meta name="msapplication-tooltip" content="Description">
    <meta name="msapplication-window" content="width=400;height=300">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
  </head>
  <body>
    <noscript class="no_script_message">We're sorry but our site <strong>requires</strong> JavaScript.</noscript>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrap">
            <div class="logo"><a href="#"><img src="images/logo.png" alt="LeBruk Logo"></a></div>
            <ul class="main-nav">
              <li><a href="#">Продукція</a></li>
              <li class="active"><a href="#">Новини</a></li>
              <li><a href="#">Послуги</a></li>
              <li><a href="#">Про компанію</a></li>
              <li><a href="#">Контакти</a></li>
            </ul>
          </div>
          <div class="languages-links">
            <ul>
              <li class="active"><a href="#"> <span>укр</span></a></li>
              <li><a href="#"> <span>рус</span></a></li>
            </ul>
          </div>
        </div>
      </header>
      <main role="main">
        <section class="news-articles">
          <div class="container">
            <div class="content-container">
              <h3 class="title">Новини</h3>
              <div class="article">
                <div class="img-wrap">
                  <div class="img"><img src="images/news/img-1.jpg" alt="">
                    <div class="icon-hexagon1"></div>
                  </div>
                </div>
                <div class="text-wrap">
                  <div class="text">
                    <h4 class="article-title">«LeBruk» – міцна продукція, <br> але гнучкий підхід</h4>
                    <p>Лучани мають змогу встелити свої подвір’я бруківкою європейської якості. Про особливості та різноманіття оздоблювальних матеріалів ВІПу розповів генеральний директор ТзОВ «LeBruk» Сергій Стрихарчук. Сучасні будинки – це не тільки краса і функціональність інтер’єру та оздоби, а й привабливі подвір’я, майданчики чи доріжки. Тож не дивно, що ринок будматеріалів нині пропонує чималий вибір бруківки [...]</p><span class="date">09.04.2016</span>
                  </div>
                </div>
              </div>
              <div class="article">
                <div class="img-wrap">
                  <div class="img"><img src="images/news/img-2.jpg" alt="">
                    <div class="icon-hexagon1"></div>
                  </div>
                </div>
                <div class="text-wrap">
                  <div class="text">
                    <h4 class="article-title">Премія «Люди року-2014.Волинь»</h4>
                    <p>Премія “Люди року-2014.Волинь” У рамках головної події Волині – Премії «Люди Року-2014.Волинь» – відзначили найдостойніших жителів краю та організації області. Урочистості, організовані у рамках загальнонаціональної програми «Люди XXI століття», відбулися 8 грудня. А найкращими матеріалами для будівництва визнали продукцію компанії ТзОВ «БетонБрукСервіс» – саме вона отримала відзнаку в рамках номінації «Виробництво будівельних матеріалів року». Отримував [...]</p><span class="date">09.04.2014</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="last-projects">
          <div class="content-container">
            <h3 class="title">Останні виконані проекти</h3>
          </div>
          <div class="page-container">
            <ul class="gallery">
              <li><a href="#"><img src="images/works/img-1.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-2.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-3.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-4.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-5.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-6.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-7.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-8.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
              <li><a href="#"><img src="images/works/img-9.jpg">
                  <div class="hover-info"><span class="place">Кузнецовськ</span><span class="work">Укладання бруківки в м. Кузнецовськ (об’єкт № 9)</span></div></a></li>
            </ul>
          </div>
        </section>
      </main>
    </div>
    <footer>
      <div class="container">
        <div class="footer-wrap">
          <ul class="foot-nav">
            <li><a href="#">Продукція</a></li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Послуги</a></li>
            <li><a href="#">Про компанію</a></li>
            <li><a href="#">Контакти</a></li>
            <li><span class="copy">© 2016 LeBruk</span></li>
          </ul>
          <div class="foot-contact">
            <div class="with-socials">
              <div class="email"><span class="icon-close-envelope"></span><span class="text">bblutsk@ukr.net</span></div>
              <div class="tel"><span class="icon-phone-receiver"></span><span class="text">(0332) 28-04-80</span></div>
              <ul class="socials">
                <li><a href="#"><span class="icon-vk-logo"></span></a></li>
                <li><a href="#"><span class="icon-facebook-logo"></span></a></li>
                <li><a href="#"><span class="icon-twitter-logo"></span></a></li>
                <li><a href="#"><span class="icon-youtube-logo"></span></a></li>
              </ul>
            </div>
            <div class="address"><span class="icon-location-pin"></span><span class="text">м. Луцьк, вул. Індустріальна 10, 43020</span></div>
          </div>
          <div class="foot-logo"><a href="#"><img src="icons/logo.inverse.svg"></a></div>
          <div class="foot-love">
            <div class="mirro-studio">
              <div class="m-text">Сделано с любовью</div>
              <div class="hearts">
                <div class="heart1"></div>
                <div class="heart2"></div>
                <div class="heart3"></div>
                <div class="heart4"></div>
              </div><a href="http://mirrostudio.com"> MirroStudio</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/jquery-pixel-perfect.js"></script>
    <script type="text/javascript" src="js/lebruk.lib.min.js"></script>
    <script type="text/javascript" src="js/config.min.js"></script>
  </body>
</html>

assets/jade_view/news-articles.jade
include mixins/mixins.jade
doctype html
html
  include partials/head
  body
    noscript.no_script_message.
      We're sorry but our site <strong>requires</strong> JavaScript.
    .wrapper
      header
        .container
          .header-wrap
            .logo
              a(href='#')
                img(src='images/logo.png' alt='LeBruk Logo')
            ul.main-nav
              li
                a(href='#') Продукція
              li.active
                a(href='#') Новини
              li
                a(href='#') Послуги
              li
                a(href='#') Про компанію
              li
                a(href='#') Контакти
          include layout/languages-links.jade
      main(role="main")
        section.news-articles
          .container
            .content-container
              h3.title Новини
              .article
                .img-wrap
                  .img
                    img(src="images/news/img-1.jpg" alt="")
                    .icon-hexagon1
                .text-wrap
                  .text
                    h4.article-title «LeBruk» – міцна продукція, <br> але гнучкий підхід
                    p Лучани мають змогу встелити свої подвір’я бруківкою європейської якості. Про особливості та різноманіття оздоблювальних матеріалів ВІПу розповів генеральний директор ТзОВ «LeBruk» Сергій Стрихарчук. Сучасні будинки – це не тільки краса і функціональність інтер’єру та оздоби, а й привабливі подвір’я, майданчики чи доріжки. Тож не дивно, що ринок будматеріалів нині пропонує чималий вибір бруківки [...]
                    span.date 09.04.2016
              .article
                .img-wrap
                  .img
                    img(src="images/news/img-2.jpg" alt="")
                    .icon-hexagon1
                .text-wrap
                  .text
                    h4.article-title Премія «Люди року-2014.Волинь»
                    p Премія “Люди року-2014.Волинь” У рамках головної події Волині – Премії «Люди Року-2014.Волинь» – відзначили найдостойніших жителів краю та організації області. Урочистості, організовані у рамках загальнонаціональної програми «Люди XXI століття», відбулися 8 грудня. А найкращими матеріалами для будівництва визнали продукцію компанії ТзОВ «БетонБрукСервіс» – саме вона отримала відзнаку в рамках номінації «Виробництво будівельних матеріалів року». Отримував [...]
                    span.date 09.04.2014
        include layout/landing/last-projects
    include layout/footer
    include partials/js.jade
